<div class="container">
<h1>active page</h1>
  <form method="post">
    <div class="form-group">
      <label for="otp">Otp:</label>
      <input type="number" class="form-control" id="otp" placeholder="Enter your OTP" name="otp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>